<form method="post" class="card-check-form">
    {% csrf_token %}
    <input type="hidden" name="card_id" value="{{ card.id }}">
    <input type="hidden" name="solved" value="{{ solved }}">
    <div class="form-group">
        {% if solved %}
            <button type="submit" class="btn btn-success custom-btn">
                ✅ I know
            </button>
        {% else %}
            <button type="submit" class="btn btn-danger custom-btn">
                ❌ I don't know
            </button>
        {% endif %}
    </div>
</form>
